:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  
  /* background-color: #242424; */
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0px;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-width: 350px;
  min-height: 100vh;
}

select {
  background-color: rgba(250, 250, 250, 0);
  padding: 10px 16px;
  color: black;
  border-radius: 8px;

  border: 2px rgb(0, 0, 0) solid; 
  width: 100%;
  /* appearance: none; */
  outline: none;
}

select:focus {
  outline: none;
}



option {
  background: #f3f3f3;
  border-radius: 0px 0px 8px 8px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px;
  border-radius: 8px;
  border: 4px rgb(0, 0, 0) solid;
}

.err {
  width: 100%;
  margin-top: 16px;
}
.loading {
  width: 100%;
  margin-top: 16px;
}
.output-field {
  padding: 8px 16px;
  height: 80px;
  width: 90%;
  background: #f3f7fc;
  border-radius: 12px;
}
.output-field-err {
  padding: 8px 16px;
  height: 80px;
  width: 90%;
  background: #ffc9c9;
  border-radius: 12px;
}

.btn-err {
  background: red;
  color: #f3f7fc;
}
.btn-refresh {
  background: rgb(0, 0, 0);
  color: #f3f7fc;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 0px;
  cursor: pointer;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.repo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 2px rgb(0, 0, 0) solid;
  padding: 8px; 
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: left;
  width: 400px; 
  /* height: 350px; */
  overflow: hidden;
}

.repo-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.repo-body {
margin-top: 64px;
}

.repo-icon {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 12px;
}
.repo-icon p {
  gap: 6px;
}

p, span {
  display: flex;
  flex-direction: row;
  align-items: center;
}


button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;

}

.repo-card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.repo-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
